{% extends 'base.html' %}

{% block APPTITLE %}Login{% endblock %}

{% block content %}
    <section>
        <div class="content" >
            <div class="box">
                {% if user.is_authenticated %}
                    <h4>Hi {{ user.first_name }} {{ user.last_name }}!</h4>
                    <a class="button" href="{% url 'logout' %}">logout</a>
                {% else %}
                    <h2>Login</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="button button__login">Login</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

