{% extends "budget/base.html" %}

{% block APPTITLE %}DB Budget{% endblock %}

{% block content %}
<section class="">
    <div class="callout primary">
        {% load static %}
        <div class="card" style="text-align: center">
            <div class="card-section">
                <img src="{% static 'img/3-logo.jpg' %}">
            </div>
            <div class="card-section">
                <h4>Hoi {{ user.first_name }} {{ user.last_name }}</h4>
            </div>
        </div>
        <dl style="text-align: center">
            <dt>dini Budget istellige</dt>
            <dd>Monatliches Budget:</dd>
            <dt>
                {% if amount > 0 %}
                     {{ amount |stringformat:"d" }}.- CHF
                {% else %}
                    <span style="color: red">noch keines erfasst!</span>
                {% endif %}
            </dt>
            <dd>
                {% if day > 0 %}
                Budget am <b>{{ day }}. Tag</b> vom Monat zruggsetze.
                {% else %}
                    <span style="color: red">noch kein Tag erfasst!</span>
                {% endif %}
            </dd>
        </dl>
        <div class="box">
            <div class="box box-button">
                <a href="/">
                    <div class="button expanded">Home</div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
